<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Navigation Bar</title>
    <link rel="stylesheet" href="./reset.css">
    <link rel="stylesheet" href="./2_navigation_bar.css">
</head>

<body>
    <div class="navigation_bar">
        <div class="items">
            <a href="#">家用电器</a>
        </div>
        <div class="items">
            <a href="#">手机</a><span class="line">/</span><a href="#">运营商</a><span class="line">/</span><a
                href="#">数码</a>
        </div>

        <div class="items">
            <a href="#">电脑</a><span class="line">/</span><a href="#">办公</a>
        </div>

        <div class="items">
            <a href="#">家居</a><span class="line">/</span><a href="#">家具</a><span class="line">/</span><a
                href="#">家装</a><span class="line">/</span><a href="#">厨具</a>
        </div>

        <div class="items">
            <a href="#">男装</a><span class="line">/</span><a href="#">女装</a><span class="line">/</span><a
                href="#">童装</a><span class="line">/</span><a href="#">内衣</a>
        </div>

        <div class="items">
            <a href="#">美妆</a><span class="line">/</span><a href="#">个护清理</a><span class="line">/</span><a
                href="#">宠物</a><span class="line">/</span>
        </div>

        <div class="items">
            <a href="#">女鞋</a><span class="line">/</span><a href="#">箱包</a><span class="line">/</span><a
                href="#">钟表</a><span class="line">/</span><a href="#">珠宝</a>
        </div>

        <div class="items">
            <a href="#">男鞋</a><span class="line">/</span><a href="#">运动</a><span class="line">/</span><a href="#">户外</a>
        </div>

        <div class="items">
            <a href="#">房产</a><span class="line">/</span><a href="#">汽车</a><span class="line">/</span><a
                href="#">汽车用品</a>
        </div>

        <div class="items">
            <a href="#">母婴</a><span class="line">/</span><a href="#">玩具乐器</a>
        </div>

        <div class="items">
            <a href="#">食品</a><span class="line">/</span><a href="#">酒类</a><span class="line">/</span><a
                href="#">生鲜</a><span class="line">/</span><a href="#">特产</a>
        </div>

        <div class="items">
            <a href="#">艺术</a><span class="line">/</span><a href="#">礼品鲜花</a><span class="line">/</span><a
                href="#">农资绿植</a>
        </div>

        <div class="items">
            <a href="#">医药保健</a><span class="line">/</span><a href="#">计生情趣</a>
        </div>

        <div class="items">
            <a href="#">图书</a><span class="line">/</span><a href="#">文娱</a><span class="line">/</span><a
                href="#">教育</a><span class="line">/</span><a href="#">电子书</a>
        </div>

        <div class="items">
            <a href="#">机票</a><span class="line">/</span><a href="#">酒店</a><span class="line">/</span><a
                href="#">旅游</a><span class="line">/</span><a href="#">生活</a>
        </div>

        <div class="items">
            <a href="#">众筹</a><span class="line">/</span><a href="#">白条</a><span class="line">/</span><a
                href="#">保险</a><span class="line">/</span><a href="#">企业金融</a>
        </div>

        <div class="items">
            <a href="#">安装</a><span class="line">/</span><a href="#">维修</a><span class="line">/</span><a
                href="#">清洗</a><span class="line">/</span><a href="#">二手</a>
        </div>
        <div class="items"><a href="#">工业品</a></div>
    </div>
</body>

</html>