<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>
        FILES_FLOW
    </title>
    <style>
        /* 它现在就是body的宽度，因为body是它的父类元素 */
        .div1 {
            background-color: skyblue;
        }

        .div2 {
            width: 100px;
            background-color: #aa2201;
        }

        span {
            background-color: violet;
        }
    </style>
</head>

<body>
    <!--
        文档流，又称Normal flow
            网页是一个多层的结构，一层摞着一层
            通过CSS可以分别为每一层来设置样式
            作为用户来讲只能看到最顶上一层
            这些层中，最底下的一层称为文档流，文档流是网页的基础
                我们所创建的元素都是在文档流中进行排列
            对于我们来讲，元素主要有两个状态
                1.在文档流中
                2.不在文档流中，即脱离文档流

            元素在文档流中有什么特点
                块元素
                    1.块元素会在页面中独占一行
                    2.默认宽度是父元素的全部
                    3.默认高度是被子元素撑开，又可以理解为是子元素

                行内元素
                    1.行内元素不会独占页面的一行，只占自身的大小
                    2.行内元素在页面中自左向右水平排列
                        如果一行之中不能容纳下所有的行内元素，则元素会自动换到第二行继续自左向右排列
                    3.行内元素的默认宽度和高度都是被内容撑开
    -->
    <div class="div1">i'm div1</div>
    <div class="div2">i'm div2</div>

    <span>i'm span1</span>
    <span>i'm span2</span>
    <span>i'm span3</span>
    <span>i'm span4</span>
    <span>i'm span5</span>
    <span>i'm span6</span>
</body>

</html>