<!-- 仿造京东网站的右侧商品图片列表 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>List of picture</title>
    <link rel="stylesheet" href="./reset.css">
    <link rel="stylesheet" href="./1_list_of_picture.css">
</head>

<body>
    <ul>
        <li class="picture"><a href="javascript"><img src="./picture_1.jpg" alt="picture_1"></a></li>
        <li class="picture"><a href="javascript"><img src="./picture_2.jpg" alt="picture_2"></a></li>
        <li class="picture"><a href="javascript"><img src="./picture_3.jpg" alt="picture_3"></a></li>
    </ul>
</body>

</html>